/* roboto-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/roboto-v49-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v49-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/roboto-v49-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v49-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rowdies-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rowdies-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rowdies-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rowdies-v19-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --primary-bcg-color: #FFFFFF;
    --primary-text-color: #181817;
    --primary-brand-color: #FF9F0E;

    --second-brand-color: #FCB62A;


}


/* ------Reset styles-------- */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* ----------Base Style--------- */
body {
    background-color: var(--primary-bcg-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;

    outline: 1px solid red;
}

.title {

    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.btn {
    border-radius: 4px;
    padding: 8px 24px;

    font-weight: 500;
    text-align: center;

    background-color: var(--primary-brand-color);
    color: var(--primary-bcg-color);
    border: none;
    cursor: pointer;

    transition: .3s;
}

.btn:hover,
.btn:focus {
    background-color: var(--second-brand-color);
}




/* -------Hero Section-------- */

.hero {}

.hero-title {
    margin-bottom: 24px;
}

.hero-text {
    margin-bottom: 16px;
    text-align: center;
}

.hero-btn {
    display: block;
    width: 143px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.hero-img {
    display: none;
}

















@media screen and (min-width: 480px) {
    .container {
        width: 360px;
    }
}



@media screen and (min-width: 768px) {
    /* ... */
}



@media screen and (min-width: 1200px) {
    .container {
        width: 1430px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .hero {
        display: flex;
        gap: 65px;
    }

    .hero-box {
        outline: 1px solid blue;
    }

    .hero-title {
        margin-bottom: 40px;
        font-size: 72px;
        letter-spacing: 0.05em;
        text-align: left;


    }

    .hero-text {
        margin-bottom: 24px;
        max-width: 500px;
        font-size: 22px;
        line-height: 1.55;
        text-align: left;


    }

    .hero-btn {
        border-radius: 8px;
        padding: 16px 32px;
        width: 171px;
        height: 53px;
        font-size: 18px;
        margin-left: 0;
    }

    .hero-img {
        display: block;
        margin-top: 23px;
        margin-bottom: 60px;
    }
}